 1 - Import packages to be used in the project

In [2]:
#Packages 

#Manipulate data 
import numpy as np 
import pandas as pd 

#View graphs 
import seaborn as sns
from matplotlib import pyplot as plt

# split train and test dataset 
from sklearn.model_selection import train_test_split

# Perform hyperparameter tuning
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

#Machine Learning Models 
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC


#Evaluate the model 
from sklearn.model_selection import cross_val_score
from sklearn.metrics import roc_curve, auc, roc_auc_score, confusion_matrix
from sklearn.metrics import accuracy_score

#Ignore Warnings 
import warnings
warnings.filterwarnings("ignore")

#Save the model
import joblib 
import pickle

2 - Loading the data

In [ ]:
# Load the file 
ds = pd.read_csv("Indian_Liver_Patient_Dataset.csv")

In [ ]:
3 - Exploratory analyses

In [4]:
# shape 
ds.shape

(582, 11)

In [8]:
#view data 
ds.head()

   65 Female   0.7  0.1  187  16   18  6.8  3.3   0.9  1
0  62   Male  10.9  5.5  699  64  100  7.5  3.2  0.74  1
1  62   Male   7.3  4.1  490  60   68  7.0  3.3  0.89  1
2  58   Male   1.0  0.4  182  14   20  6.8  3.4  1.00  1
3  72   Male   3.9  2.0  195  27   59  7.3  2.4  0.40  1
4  46   Male   1.8  0.7  208  19   14  7.6  4.4  1.30  1

In [10]:
#name of colums
ds.columns =["age","gender","total_bilirubin","direct_bilirubin","alkaline_phosphotase","alamine_aminotransferase",
           "aspartate_aminotransferase","total_proteins","albumin","ratio_albumin_and_globulin_ratio","target"]

In [11]:
#View data
ds.head()

,age,gender,total_bilirubin,direct_bilirubin,alkaline_phosphotase,alamine_aminotransferase,aspartate_aminotransferase,total_proteins,albumin,ratio_albumin_and_globulin_ratio,target
0,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
1,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
2,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
3,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1
4,46,Male,1.8,0.7,208,19,14,7.6,4.4,1.30,1

In [12]:
#shape
ds.shape

(582, 11)